.header {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(228, 228, 228);
}

.left-section {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 24px;
}

.colmar-logo, .academy-logo {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.colmar-logo {
    color: gray;
}

.academy-logo {
    color: lightgray;
}


.right-section {
    margin-right: 24px;
    display: flex;
    text-align: right;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: right;
    width: 400px;
 
}

.nav li {
    padding-left: 16px;
}