.banner {
    
}

.section-1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    background-color: lightgray;
    margin: 0;
    padding-top: 96px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

@media screen and (min-width: 641px) {
    .section-1-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    background-color: white;
    margin: 0;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.start-here {
    width: 100%;
    max-width: 80%;
    background-color: rgb(70, 68, 68);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    text-align: center;

}

.spacing {
    padding-bottom: 24px;
}


.section-2-row {
    display: flex;
    margin: 0;
    padding-top: 32px;
    padding-left: 24px;
    padding-bottom: 32px;
    gap: 0px 24px;
}

.section-2-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 32px;
    
 
}

.section-2-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section-2-right-flex {
    display: flex;
}

.small-image {
    width: 35%;
    margin: 1rem;
    height: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}


.section-3 {
    background-color: lightgray;
    
}

.learning {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
.course-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    padding-bottom: 32px;
    padding-left: 72px;
    padding-right: 72px;
}

.section-3 img {
    width: 100%;
    height: auto;
}

.course-text {
    background-color: white;
    padding: 16px;
    text-align: left;
}

.section-3 h2, p {
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.section-4 {
    background-color: white;
}

.section-4-container {
    display: flex;
}
.section-4 h1 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

video {
    width: 100%;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.section-4-flex-col-large {
    display: flex;
    flex-direction: column;
    width: 60%;
}